<div>
    
    <table>
        <tr><td>Regno</td><td><input type="text"  [(ngModel)]="emp.regno"></td></tr>
        <tr><td>Student name</td><input type="text"  [(ngModel)]="emp.studentName"></tr>
        <tr><td>Student Marks</td><input type="text"  [(ngModel)]="emp.studentMarks"></tr>
    </table>
        
<table>
    <tr><td>Regno</td><td>{{emp.regno}}</td></tr>
    <tr><td>Student name</td><td>{{emp.studentName}}</td></tr>
    <tr><td>Student Marks</td><td>{{emp.studentMarks}}</td></tr>
</table>
</div>